body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /*font-family: 'Roboto', sans-serif;*/	
    background-color: #EEF2F6;
}

.clear { margin: 5px 0px;}

textarea{ resize: none;}

.center{ text-align: center; margin: 0 auto;}

.footer-menu>li{ 
	font-size: 12px;
	display: inline;
    padding: 0 7px;
    border-right: 1px solid #ccc;
}

#username{ font-weight: 300; }

#username:hover{ font-weight: 500; }

.navlogo{
	height: 40px;
	margin: 5px 0;
}

.profilepic{
	height: 35px;
	border-radius: 50px;
	margin: -10px;
}

.glyphicon-nav{
	font-size: 22px;
	color:#FFF !important;
}

.glyphicon-r{
	font-size: 18px;
	color:#ccc !important;
}

.navbar{ 
	background-color: #1565c0; 
	border-style: none; 
	box-shadow: 0px 2px 10px #888888;
}

.navbar-nav>.open>a { background-color: #0d47a1 !important; }

.inline{ display: inline-block !important; }

.right{ float: right; }

.red{ color: #f44336; }

.txt-white{ color: #FFFFFF !important; }

.txt-black{ color: #000000 !important; }

.txt-gray{ color: #AAA !important; }

.block { display: block !important; }


#sidebar.affix-top {
    position: static;
    width:262px;
}
  
#sidebar.affix {
    position: fixed;
    top:70px;
	width:262px;
}

.nav-tabs{ border-bottom: 0px !important;}

.nav-tabs>li.active>a{
	color: #337AB7 !important;
    background-color: #FFFFFF !important;
}

.no-radius{
	border-radius: 0px !important;
}

.group-list>li{
	border-bottom: 1px solid #ccc;
	list-style: none;
	padding: 5px 0px 5px 0px !important;
}

.no-padding { padding: 0 !important;}

.no-margin { margin: 0 !important;}

.new-btn{
	border-bottom: 0px !important;
}

.img-comment{
	width: 35px;
	border-radius: 50px;
}

<<<<<<< HEAD
.customicon{ padding-left: 5px; padding-right: 5px; font-size: 18px; } 


@font-face {
      font-family: 'customicon';
      src: url('../fonts/customicon.eot?58406115');
      src: url('../fonts/customicon.eot?58406115#iefix') format('embedded-opentype'),
           url('../fonts/customicon.woff?58406115') format('woff'),
           url('../fonts/customicon.ttf?58406115') format('truetype'),
           url('../fonts/customicon.svg?58406115#customicon') format('svg');
      font-weight: normal;
      font-style: normal;
    }
=======
.padding-sides{ padding-left: 5px; padding-right: 5px; font-size: 18px; } 

.padding-tb{ padding-top: 10px; padding-bottom: 20px;}


div.fill {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.fill img {
    flex-shrink:0;
    /*min-width:100%;*/
    max-height:100%;
}
>>>>>>> master

.border-b{
	border-bottom: solid 1px #ccc;
}


/********** Media Queries ***********/

@media (min-width: 992px) and (max-width: 1199px) {
	#sidebar.affix, #sidebar.affix-top {width: 222px;} 
}

@media (min-width: 768px) and (max-width: 991px) {
	#leftCol, #profilepic {display: none;} 
	.no-hidde{display: block !important;}
}

@media (max-width: 767px) { 
	#profileop, #username, #profilepic{ display: none !important; }
	.profilepic{ margin-right: -5px; margin-top: -10px;}
	#leftCol {display: none;}
	.no-hidde{display: block !important;}
	#buscador {display: none;}
}

@media (max-width: 415px) { }







